In [57]:
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
website_url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
from bs4 import BeautifulSoup
soup = BeautifulSoup(website_url,'lxml')
My_table = soup.find('table',{'class':'wikitable sortable'})
for row in rows:
    row_td = My_table.find_all('td')
type(row_td)
all_td = []
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
all_td.append(cleantext)
df1 = pd.DataFrame(all_td)
df1.head(10)

                                                   0
0  [M1A, Not assigned, Not assigned\n, M2A, Not a...

In [58]:
df2 = df1[0].str.split(',', expand=True)
df2.head()

,0,1,2,3,4,5,6,7,8,9,...,854,855,856,857,858,859,860,861,862,863
0,[M1A,Not assigned,Not assigned\n,M2A,Not assigned,Not assigned\n,M3A,North York,Parkwoods\n,M4A,...,The Queensway West\n,M8Z,Etobicoke,Royal York South West\n,M8Z,Etobicoke,South of Bloor\n,M9Z,Not assigned,Not assigned\n]